.form-control {
    border: 1px solid #d2d6da !important;
    padding: .625rem .75rem;
    line-height: 1.3!important;
}

.author img {
    border-radius: 50%;
    border: 2px solid #DE2769
}

/* Flash Message Styling */
.flash {
  color: #ee6f57;
  text-align: center;
}

.title-text {
  font-family: 'Great Vibes', cursive;
}

.nav-logo-text {
  font-size: 24px;
}

.footer-logo-text {
  font-size: 36px;
}

.list-group-item {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', cursive;
}
