{% extends "base.html" %}
{% block banner %}{{ url_for('static', filename='assets/img/home_banner.jpg') }}{% endblock %}
{% block title %}~ {{ website_name }} ~{% endblock %}
{% block content %}
<section class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center mb-3">
        <span class="badge badge-info mb-2 mt-n5">
          <img height="50" src="{{ url_for('static', filename='assets/img/cafe.png') }}">
        </span>
        <h3>Discover Portland's Finest Cafes<br>A Coffee Lover's Guide</h3>
        <hr class="horizontal dark d-lg-block d-none">
        <p>
          Explore our curated selection of Portland's top coffe shops, where you can not only relish a delicious cup of
          coffee but also create your ideal workspace, combining the perfect brew with an inspiring atmosphere for maximum
          productivity.
        </p>
      </div>
    </div>
    <div class="row mb-4" data-masonry='{"percentPosition": true }' style="position: relative;">
      {% for cafe in cafes: %}
      <div class="col-md-4 position-absolute mb-sm-0 mb-3">
        <div class="card card-plain mx-1 mt-3">
          <div class="card-header p-0 position-relative z-index-1 ">
            <a href="" class="d-block">
              <img src="{{ cafe.img_url }}" class="img-fluid border-radius-lg">
            </a>
          </div>
          <div class="card-plain">
            <h5 class="my-2">
              <a href="" class="text-darker font-weight-bolder">{{ cafe.name }}</a>
            </h5>
            <div class="author">
              <img src="{{ cafe.author.email | gravatar(size=200, rating='x') }}"
                   alt="..." class="avatar shadow border-radius-lg">
              <div class="name ps-3 my-auto">
                <p class="text-sm text-darker font-weight-bold mb-0">{{ cafe.author.name }}</p>
                <div class="stats">
                  <p class="text-xs text-secondary mb-0">{{ cafe.author.type }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="horizontal dark d-lg-block d-none">
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
